@model Events.Models.ProfileModel
@{
    ViewBag.Title = "ProfileCreate";
    Layout = "~/Views/Shared/_Events.cshtml";
}

@using (Html.BeginForm())
{<body>
    <div id="body">
        <div class="row">
            <div class="span3">
                <h3>Create Account</h3>
            </div>
            <div class="span5">
                <br />
                <div class="input-group well-no-bkgrnd">
                    <h3>Login Information</h3>
                    <br />
                   <label class="control-label" for="txtUserName">UserName</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge", placeholder = "Enter your Username", @maxlength = "60", @autocomplete = "off" })
                     <label class="control-label" for="txtPassword">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge",placeholder = "Enter your Password", @maxlength = "60", @autocomplete = "off" })
                      <label class="control-label" for="txtCnfrmPassword">Confirm Password</label>
                    @Html.PasswordFor(m => m.cnfmPassword, new { @class = "input-xlarge",placeholder = "Confirm your Password", @maxlength = "60", @autocomplete = "off" })
                    <h3>Profile Information</h3>
                    <br />
                    <label class="control-label" for="txtFirstName">FirstName</label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "input-xlarge", placeholder = "Enter your First Name", @maxlength = "60", @autocomplete = "off" })
                    <label class="control-label" for="txtLastName">LastName</label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "input-xlarge", placeholder = "Enter your Last Name", @maxlength = "60", @autocomplete = "off" })
                    <br />
                    <button id="btnCreateProfile" class="gbqfb" style="">Create Profile</button>
                </div>

            </div>
        </div>
    </div>
    </body>
}