<!DOCTYPE html>

<html lang="en">
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <!-- Le styles -->

    <link href="@Url.Content("~/Styles/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Styles/style_public.css")" rel="stylesheet">
    <link href="@Url.Content("~/Styles/StyleSheet1.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
    <link href="@Url.Content("~/Styles/bootstrap-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Styles/fullcalendar.css")" rel="stylesheet"/>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.2.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fullcalendar.min.js")"></script>
    <script>
        $(document).ready(function () {
            var successText = $('#successtext').text();
            if (successText != "") {
                $('#divsuccess').show();
                $('#divverification').hide();
            }
            else {
                $('#divsuccess').hide();
            }
        });
    </script>
    <script>
        $(function () {
            //var img = '<img src="https://si0.twimg.com/a/1339639284/images/three_circles/twitter-bird-white-on-blue.png" />';

            //$("#blob").popover({ title: 'Look!  A bird image!', content: img });

            $('[rel=popover]').popover({
                html: true,
                title: '@Html.ActionLink("Edit Profile", "EditProfile")',
                content: '@Html.ActionLink("User Actions", "UserActions")'
            });

        });
    </script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->

</head>

<body>

    <div class="container">

        <div class="masthead">
            <div class="row-fluid">
                <div class="span7">

                    <h1 class="muted">
                        <img src="@Url.Content("~/Images/Logo.png")" />A Rise For Water</h1>
                </div>
                <div style="text-align: right">
                    @if (Request.IsAuthenticated)
                    {
                        <i class="icon-user icon-white"></i>
                        @:Welcome 
                        <a href="#" id="example1" rel="popover" data-placement="bottom"><strong style="color: rgb(0, 136, 204);">@User.Identity.Name,</strong></a>@*
                        <div class="popover_content_wrapper">
                            @Html.ActionLink("Edit Profile","EditProfile")
                              @Html.ActionLink("User Actions","UserActions")
                        </div>*@
                        @Html.ActionLink("Logout", "Logout") 
                    }


                    else
                    {
                        @Html.ActionLink("Login/Register", "Login") 
                    }
                </div>

            </div>


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li id="lnkHome"><a href="home">Home</a></li>
                            <li id="lnkAboutUs"><a href="AboutUs">About Us</a></li>
                            <li id="lnkProjects"><a href="Projects">Projects</a></li>
                            <li id="lnkCalendar"><a href="Calendar">Calendar</a></li>
                            <li id="lnkContactUs"><a href="ContactUs">Contact Us</a></li>
                            <li id="lnkDonate"><a href="Donate">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.navbar -->

            @RenderBody()

            <hr>
            <div class="footer">
                <div class="row-fluid">
                    <div class="span4">
                        @*<ul id="footer-social">*@
                        <a href="https://twitter.com/waterforafrica" id="btnTwitter"><img src="@Url.Content("~/Images/twitter-icon.gif")" /></a>
                         <a href="https://www.facebook.com/purer.waterforafrica" id="btnFacebook"><img src="@Url.Content("~/Images/facebook-icon.gif")" /></a>
                        <a href="http://www.youtube.com/watch?v=2PtrmJV5HY0" id="btnYoutube"> <img src="@Url.Content("~/Images/youtube-icon.gif")"/></a>
                    </div>
                    <div class="span8">
                        <p style="text-align: right">&copy; A Rise For Water 2013</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
